* {
    box-sizing: border-box;
    margin: 0;
   
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    src: local('Playfair Display'), url(../fonts/playfairdisplay/PlayfairDisplay-Black.ttf);
}

@font-face {
    font-family: 'neuton';
    font-style: normal;
    src: local('nueton'), url(../fonts/neuton/Neuton-Bold.ttf);
}

a { 
    text-decoration: none;
    font-family: 'neuton';
    color: white;
    margin-right: 20px;
    margin-bottom: 10px;
}

a:hover {
    font-size: 120%;
    text-decoration: underline;
    color: black;
}

.nav-links {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.homepage-profile {
    position: absolute;
    left: 0;
    width: 100px;
    border-radius: 50%;
}

.header {
    text-align: center;
    background-color: #3c3c3c;
    border-bottom: 8px solid yellow;
    text-shadow: .5px .5px grey;
}

.container {
    
    overflow:hidden;
    word-wrap: break-word;
    padding: 3%;
}

.bio {
    float: left;
    width: 50%;
    padding: 2%;
}

.title {
    font-family: 'Playfair Display';
    font-size: 1rem;
    margin-bottom: 0;
}

.title-1 {
    margin: 5px;
    font-family: 'Playfair Display';
    font-size: 2rem;
}

.about-me {
    font-family: 'Poppins';
    padding: .75%;
    color: black;
    font-size: .60rem;
    line-height: 2em;
    text-shadow: 2 px 2px black;
}

.right-side {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.homepage-images {
    margin:auto;
    width: 200px;
    height: 200px;
    padding: 7px;
    object-fit: cover;
}